.main{
    background: #332d2d;
    width: 400px;
    height: 580px;
    margin-left: 192px;
    margin-top: 72px;
    padding-top: 30px;
}
.screen{
    width: 300px;
    height: 58px;
    background: white;
    margin-left: 47px;
}
#result{
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: bisque;}
